
@import url('https://fonts.googleapis.com/css?family=Cinzel|Josefin+Slab');

html, body{
	height:100%;
	margin:0;
	line-height: 1.8em;
}

.img1 , .img2, .img3{
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}
	


.img1{
	background-image:url('Images/beverage books.jpg');
	min-height:100%;
	background-size: cover;
	display:flex;
	justify-content: center;
	align-items: center;
	opacity: 0.9;
	
	
}



#myname{
	margin:auto auto;
	font-family: 'Playfair Display SC', serif;
	font-family: Snell Roundhand, cursive;
	font-family: 'Cinzel', serif;
	min-height:150%;
	font-size:400%;
	line-height: 1.3em;
	border:7px double black ;
	padding:50px;
	color:black;
	font-weight:bold;
	
	
	
}




.content1 , .content2{
	text-align: center;
	padding: 60px 15%;
	background-color:#679B99;
}



.content1{
	font-family: 'Cinzel', serif;
	font-size: 15px;
	font-weight: 500;
	
}

.myface{
	/*max-width: 20%;
	height: 150px;*/
	max-width: 140px;
	border-radius: 50%;

}

#aboutme{
	font-size:20px;

	font-family: 'Josefin Slab', serif;
}




.content1 p{
	line-height: 1.5em;
}

.img2{
	background-image:url('Images/sky.jpg');
	min-height:150%;
	display: flex;

}

.lists {
	list-style-type: none;
	margin:0;
	margin:auto;
	/*line-height: 6em;*/
	font-family: 'Cinzel', serif;
	font-size:29px;
	font-size:180%;

    
}

.lists li{
	border:5px solid black ;
	padding:60px;
	margin: 70px;
	align-content: center;
	text-align: center;
	line-height: 1em;
	text-transform: uppercase;
	text-decoration: none;
	/*border-radius: 20px;*/


}

.lists li:hover {
	background-color:#226765;
	color: white;
	cursor: pointer;
	
}

.images{
	width:100%;
	display: flex;
	flex-direction: row;
	flex:1;

	

}

.images img{
	height:0.1%;
	width:16.67%;
	border:1px solid white;
	opacity:0.6;
}

footer{
	padding:20px auto;
	background-color:#679B99;
	margin: 0;
}

footer h3{
	font-family: 'Cinzel', serif;
	font-size:300%;
	text-align: center;
	margin-bottom:10px;
	margin-top: 0;
	padding-top:40px;
}


/* Style all font awesome icons */
.fa {
    font-size: 30px;  
    text-decoration: none;
    margin-top:20px ;
    border-radius:10px;
    margin-left: 20px;


   

}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    transform:scale(1.5);
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
	 
	/*border:1px solid white;*/
    /*background: #3B5998;*/
    color: black;

 } 

.fa-instagram {
	/*border:1px solid #3B5998;*/
	color: black;

} 

 .social{
 	margin: auto;
 	/*border:1px solid black;*/
 	width: 70px;
 }   


 #send{
 	font-size: 15px;
 	padding-top: 30px;
 }

 form{

 	margin: 0 auto;
 	width:450px;
 	font-family: 'Cinzel', serif;
 	padding-bottom:50px;


}

.buttons{
	border-radius: 10px;
	font-size: 13px;
	border:1px solid white;
	font-family: 'Cinzel', serif;
	font-weight: bold;
	margin:10px;
	
}

.put{ 
	display: flex;
  justify-content: center;


 }


 @media screen and (max-width: 425px){

 	.img1{
	min-height:80%;		
	}

	#myname{
		font-size:300%;

	}

	.myface{
		max-width: 40%;
	}

	.content1 p{
		font-size: 13px;
	}

	.img2{
		min-height:100%;
	}

	.lists{
		font-size:130%;
		padding-left: 10%;
		padding-right: 10%;
			
	}

	.lists li{
	padding:30px;
	margin: 30px;


	}

	footer h3{
		font-size:250%;
	}

	form{
		margin:0 auto;
		width:70%;
	}

	input{
		width:100%;

	}

	textarea{
		width: 100%;
	}

	.put{
		width:30%;
		margin:0 auto;
	}

 }



  @media screen and (max-width: 320px){
.im1{
	width:100%;
}
#myname{
		font-size:200%;
		padding: 40px;

	}


.content1{
	padding:50px 30px;
}

.content1 p{
	font-size:13px;
}	

.lists{
		font-size:110%;
		
	}

footer h3{
		font-size:200%;
	}

#send{
	font-size:80%;

}


}
