
.tia {  
  background-color:grey 
}

.myhead {
  /*border:1px solid red;*/
  font-family: condensed; 
  line-height: 1.4em;
  color: #ffdedc;
  /*color:  #916a76;*/
  /*max-width: 300px;*/
  text-align: center;
  font-size: 80px;
  margin-top: 0px;
  padding: 15px;
}

.me{
  font-family: condensed;
  text-align: center;
  color: #ffdedc;
   /*color: #c3aa8e;*/

}

.pictures{
  width: 100%px;
    height:600px;
    border: 1px solid #c3c3c3;
    display: flex  
       
}
.myself{
  width: 500px;
  height: 100%;
  margin-top: 0;
  /*z-index: -1; */
}

.graduate{
  width: 300px;


}
.books{
  width: 400px;
  height: 100%;
  /*border:1px solid red;*/
 
}

.chess{
  top-margin:0px;
  width: 300px;
  height;:200px;
}
  
.other {
  display:flex;
  flex-direction:column;
}

.school {
  height: 50%;
}




h4 {
  color: black;
  margin: 5 auto;
  text-decoration: underline;
  

}

header, section {
	margin-left: 2%;
}

.images{
  width: 100%;
  height: 100%;
}





div picture a img {
  width: 20%;
  height:25%;
  position: static;
  /*border: 3px solid #73AD21;*/


}

.picture-frame{
  width: 33.33%;}

.school{
  color: transparent;
}

.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    color: white;
}


